<!-- Shared Screenshot Modal Component -->
<div id="screenshotModal" class="screenshot-modal" role="dialog" aria-modal="true" aria-labelledby="screenshotModalTitle" aria-hidden="true">
    <h2 id="screenshotModalTitle" class="sr-only">Screenshot Viewer</h2>
    <button class="screenshot-modal-close" id="screenshotModalClose" aria-label="Close screenshot viewer">&times;</button>
    <div class="screenshot-modal-content">
        <button class="screenshot-modal-nav screenshot-modal-nav-prev" id="screenshotModalPrev" aria-label="Previous screenshot">&larr;</button>
        <img id="screenshotModalImage" class="screenshot-modal-image" alt="Full size screenshot">
        <button class="screenshot-modal-nav screenshot-modal-nav-next" id="screenshotModalNext" aria-label="Next screenshot">&rarr;</button>
    </div>
    <div class="screenshot-modal-info">
        <div class="screenshot-modal-metadata">
            <div class="screenshot-modal-meta-item">
                <span class="screenshot-modal-meta-label">Counter</span>
                <span class="screenshot-modal-meta-value screenshot-modal-counter" id="screenshotModalCounter">1 / 1</span>
            </div>
            <div class="screenshot-modal-meta-item">
                <span class="screenshot-modal-meta-label">Time</span>
                <span class="screenshot-modal-meta-value" id="screenshotModalTime">--:--:--</span>
            </div>
            <div class="screenshot-modal-meta-item">
                <span class="screenshot-modal-meta-label">Application</span>
                <span class="screenshot-modal-meta-value" id="screenshotModalApp">Unknown</span>
            </div>
            <div class="screenshot-modal-meta-item" id="screenshotModalWindowTitleContainer" style="display: none;">
                <span class="screenshot-modal-meta-label">Window Title</span>
                <span class="screenshot-modal-meta-value" id="screenshotModalWindowTitle">--</span>
            </div>
        </div>
        <div class="screenshot-modal-shortcuts">
            <span class="shortcut-key">&larr;</span> / <span class="shortcut-key">&rarr;</span> Navigate
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="shortcut-key">Esc</span> Close
        </div>
        <a href="#" class="screenshot-modal-view-all-link" id="screenshotModalViewAllLink" style="display: none;">View all screenshots from this day &rarr;</a>
    </div>
    <!-- Preload images for smoother navigation -->
    <img class="screenshot-modal-preload" id="screenshotModalPreloadPrev" src="" alt="">
    <img class="screenshot-modal-preload" id="screenshotModalPreloadNext" src="" alt="">
</div>
